.abb_inner.p-3 {
	display: none !important;
}

/* button delete */
.elementor-element-05515c2 span,
.elementor-element-fa801db span,
.elementor-element-2aaec99 span, 
.elementor-element-21b261b span,
.elementor-element-05515c2 span,
.elementor-element-b676a31 span,
.elementor-element-86e03d5 span,
.elementor-element-97ea555 span.bsubtitle,
.elementor-element-2cf49a3e span,
.elementor-element-7c6eca7b span,
.elementor-element-6f36b70 span,
.elementor-element-d2610e5 span,
.elementor-element-21a2213 span,
.elementor-element-c3cf973 span,
.elementor-element-48fcfddb span,
.elementor-element-9573d93 span,
.elementor-element-10376ab span,
.rrating {
	display: none !important;
}

/* additional pound character */

.elementor-element-10376ab .col-lg-3.col-md-6.col-12.wow.fadeInUp:nth-of-type(3) .counter-item span.count::before {
  content: "£";
}

/* extra white space remove */

.elementor-element-0612a98,
.elementor-element-3e7a02c {
	display: none;
}
